.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox__content {
  background-color: rgb(255, 255, 255);
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}
.infoBox--active {
  border-top: 10px solid greenyellow;
}
.infoBox--active--color {
  color: greenyellow !important;
}
.infoBox--red {
  border-color: red;
}

.infoBox__cases {
  color: red;
  font-weight: 600 !important;
  font-size: 1.75rem !important;
  margin-bottom: 0.5rem;
}
.infoBox__total {
  color: rgb(36, 24, 209);
  font-weight: 600 !important;
  font-size: 1.75rem !important;
  margin-bottom: 0.5rem;
}
