.table {
  margin-top: 20px;
  overflow: scroll;
  height: 500px;
  color: #333333;
}

.table tr:nth-last-child(odd) {
  background-color: #eeecec;
}

.table td {
  padding: 0.5rem;
}

.table tr {
  display: flex;
  justify-content: space-between;
}
