* {
  margin: 0;
}

.app_header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
}

.infoBox__content {
  background-color: rgb(240, 240, 240);
  width: 10em;
}

.app_stats {
  display: flex;
  gap: 2em;
  margin-left: 2rem;
}
